@font-face {
    font-family: 'openSansBold';
    src: url('OpenSans-Semibold.ttf')  format('truetype');
}

@font-face {
    font-family: 'openSansRegular';
    src: url('OpenSans-Regular.ttf')  format('truetype');
}

body{
    background: #ECEDEE url(../img/bg-sky.png) 0 0 repeat-x;
    color: rgb(51, 51, 51); 
}

input[type="text"]:focus, input.focus {
    border-color: rgb(66, 164, 224);
    box-shadow: 0px 0px 0px 2px rgba(73, 173, 227, 0.4);
    transition: all 0.1s linear 0s;
}
input[type="text"] {
    width: 350px;
    height: 30px;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    border-color: rgb(178, 178, 178);
    border-style: solid;
    border-width: 1px;
    font-size: 16px;
    font-family: 'openSansRegular',sans-serif;
    padding: 3.33333px 6.66667px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.5);
    transition: all 0.1s linear 0s;
}

h1:first-of-type {
    font-family: 'openSansRegular', sans-serif;
    font-size: 48px;
    letter-spacing: -2px;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: rgb(72, 72, 72);
    font-weight: normal;
    text-align: left;
}

h3:first-of-type {
    font-family: 'openSansRegular', sans-serif;
    font-size: 25px;
    letter-spacing: -2px;
    line-height: 100%;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    color: rgb(72, 72, 72);
    font-weight: normal;
    text-align: left;
}

ul, li, a{
    text-decoration: none;
}

a{
    color: rgb(0, 149, 221);
}

a:hover {
    text-decoration:underline;
}

ul,li{
    /*list-style:none;*/
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    font-size: 14px;
}

p:first-of-type {
    font-family: 'openSansRegular',sans-serif;
    font-size: 14px;
    text-align: left;
}

p {
    font-family: 'openSansRegular',sans-serif;
    font-size: 14px;
    text-align: left;
}

#articulos {
    width: 640px;
    height: 150px;   
    text-align: left;
    padding-left: 15px;
}

#info {  
    width: 650px;
    height: 190px;
    padding: 0 auto;
    margin:  0 auto;   
}

#form {
    width: 500px;
    height: 120px;
    padding: 0 auto;
    margin:  0 auto;
}
#tit {
    padding-top: 30px;
    width: 650px;
    height: 220px;
    padding: 0 auto;
    margin:  0 auto;  
}

#tit1 {
    padding-top: 30px;
    float: left;
    width: 150px;
    height: 170px;
}

#tit2 {
    float: left;
    width: 480px;
    padding-left: 20px;
}

#res {    
    text-align: justify !important;
    font-size: 14px;
    width: 580px;
    height: 430px;
    margin: 0 auto;
    font-family: 'openSansRegular', sans-serif;    
    padding: 25px;      
}

#wrapper {
    text-align: center;
    height: 795px;
    width: 805px;   
}

.mensaje {
    left: 21px;    
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 1px rgb(51, 51, 51);
    text-align: center;
    line-height: 16px;
    background-color: rgb(170, 20, 1);
    background-image: -moz-linear-gradient(center top, rgb(169, 19, 0, 0.1), rgba(218, 81, 50));
    background-image: -webkit-linear-gradient(center top, rgb(169, 19, 0, 0.1), rgba(218, 81, 50));    
    border-radius: 4px 4px 4px 4px;
    padding: 10px 15px;    
    box-shadow: 0px 1px rgb(102, 102, 102);
    max-width: 270px;    
    position: relative;
    display:none;
}

.mensaje:before {
    position: absolute;
    display: inline-block;
    border-top: 9px solid transparent;
    border-right: 9px solid #eee;
    border-bottom: 9px solid transparent;
    border-right-color: rgb(170, 20, 1);
    left: 25px;
    top: -12px;
    content: '';
    rotation: 90deg;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}

.mensaje_error {    
    left: 21px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 1px rgb(51, 51, 51);
    text-align: center;
    line-height: 16px;
    background-color: rgb(170, 20, 1);
    background-image: -moz-linear-gradient(center top, rgb(169, 19, 0, 0.1), rgba(218, 81, 50));
    background-image: -webkit-linear-gradient(center top, rgb(169, 19, 0, 0.1), rgba(218, 81, 50));    
    border-radius: 4px 4px 4px 4px;
    padding: 10px 15px;    
    box-shadow: 0px 1px rgb(102, 102, 102);
    max-width: 300px !important ; 
    position: relative;
    display:none;
}

.mensaje_error:before {
    position: absolute;
    display: inline-block;
    border-top: 9px solid transparent;
    border-right: 9px solid #eee;
    border-bottom: 9px solid transparent;
    border-right-color: rgb(170, 20, 1);
    left: 25px;
    top: -12px;
    content: '';
    rotation: 90deg;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}


.button, .button:link, .button:visited {    
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), 0px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
    background-color: rgb(39, 97, 149);
    background-repeat: repeat-x;
    background-image: linear-gradient(rgb(60, 136, 204), rgb(39, 97, 149));
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 16px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 6px;
    padding-bottom: 8px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    min-width: 63px;
    border: 0px none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-family: 'openSansRegular',sans-serif;
    transition: all 0.25s linear 0s;
}

ul.simplePagerNav li{
 display:block;
 float: left;
 padding: 10px;
 margin-bottom: 10px;
 font-family: georgia;
 font-size:14px;
 }
 
 ul.simplePagerNav li a{
 color: rgb(0, 149, 221);
 text-decoration: none;
 }
 
 li.currentPage {
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1), 0px -2px 0px 0px rgba(0, 0, 0, 0.2) inset;
    background-color: rgb(39, 97, 149);
    background-repeat: repeat-x;
    background-image: linear-gradient(rgb(60, 136, 204), rgb(39, 97, 149));
    color: rgb(255, 255, 255);
 }
 
 ul.simplePagerNav li.currentPage a {
 color: #fff;
 }

ul#list{
    list-style-type:square;
}

ul#holder{
    list-style:none;
}

.resjson { 
    float: left;
    width: 295px;    
}

.resjson2 {
    float: right;
    width: 295px;
}

.listar {
    padding-bottom: 13px;
}

/* Indonesian */
html[lang=id] h1:first-of-type {
    font-size: 38px;
}

html[lang=id] #tit {
    padding-top: 30px;
    width: 700px; 
}

html[lang=id] #tit2 {    
    width: 510px;
    padding-left: 20px;
    padding-top: 30px;
}

/* Arabic */
html[lang=ar] body {
	float: left;
}

html[lang=ar] #tit1 {
	float: right;
}

html[lang=ar] #tit2 {
	float: left;
	padding-right: 20px;
	padding-left: 0px;
}

html[lang=ar] #articulos {
	text-align: right;
}

html[lang=ar] h1:first-of-type {
	text-align: right;
}

html[lang=ar] h3:first-of-type {
	text-align: right;
}

html[lang=ar] p:first-of-type {
	text-align: right;
}

html[lang=ar] p {
    text-align: right;
}


html[lang=ar] input[type="text"] {
	float: left;
}

html[lang=ar] .mensaje {
	float: right;
	right: 134px;
}

html[lang=ar] .mensaje_error {
	float: right;
	right: 134px;
}

html[lang=ar] .mensaje_error:before {
	left: 140px;	
}

html[lang=ar] .mensaje:before {
	left: 80px;
}
